<!DOCTYPE html>
<html>
  <head> %}"
    <meta charset="UTF-8">
    <title>SPC Website</title>
  </head>
  <body>
    {% load static %}
    <img src="{% static "spc_main/Icon.jpg" %}" alt="{% static "spc_main/no_image.svg" %}" width="100px"/>
    <h1> UW Side Project Club </h1>
    <div id="tabs"> <ul>
    <li <button><a href="index.html">Home</a></button></li>
    <li <button><a href="Past_projects.html">Past Projects</a></button></li>
    <li <button><a href="FAQ.html">FAQ</a></button></li>
    <li <button><a href="About_Us.html">About Us</a></button></li>
    <li <button><a href="Sponsors/Partners.html">Sponsors/Partners</a></button></li>
    <li <button><a href="Get_Involved.html">Get Involved</a></button></li>

         </div>
    <div> <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> </div>
  </body>
  <script>
    console.log("Hello World!");
  </script>
</html>
