<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="utf-8">
    <title>Projects</title>
    <link rel="stylesheet" type="text/css" href="{% static 'spc_main/stylesheets/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'spc_main/stylesheets/partners.css' %}" />

    <script src="script.js"></script>
  </head>
  <body>
    <h1> Sponsors </h1>
    <!-- page content -->
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, voluptatem odio! Consequuntur saepe perspiciatis, delectus, fuga aliquam commodi dolorum recusandae accusamus consequatur laborum quos officia vitae, adipisci natus autem nobis.
  </body>
</html>
